<header class="header">
  <div class="logocontainer">
    <h1 class="logo">
      News Scraper
    </h1>
  </div>

  <ul class="nav nav-tabs navbar-right">
    <li>
      <a class="active" href="/">Home</a>
    </li>

    <li>
      <a href="/saved">Saved</a>
    </li>

    <li>
      <a href="/scrape" class="btn btn-danger" name="Scrape">New Scrape</a>
    </li>
  </ul>
</header>
